.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list, .done-list {
  text-align: center;
}

.todo-group, .done-group {
  text-align: left;
}

.todo-item, .done-item {
  border: 1px solid #CCC;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
}

.todo-item div, .done-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
}

.task-name.done {
  text-decoration: line-through;
}

.todo-button {
  padding-right: 8px;
}